.field_name {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8DA3B1;
	text-align: right;
	font-weight: bolder;
}

.field_value {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-align: left;
}

.buton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
}

.err_field {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bolder;
	background-color: #FF0000;
}

.odd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #CADDEB;
	height: 30px;
	vertical-align: middle;
}

.trhover {
	
	font-size: 12px;
	background-color: #D5E5EB;
	height: 30px;
}

.even {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #D3E0EB;
	height: 30px;
	vertical-align: middle;
}


.bold_link {
	text-decoration: none;
	color: #3F7383;
	font-weight: bold;
}

.bold_link:hover {
	text-decoration: underline;
}

.normal_link {
	text-decoration: none;
	color: #004BA8;
}

.normal_link:hover {
	text-decoration: underline;
}

.table_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #004BA8;
	background-color: #B8CCDB;
	font-weight: bold;
	height: 30px;
}

.header_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}

.entry {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #8DA3B1;
}

.aaction {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5F7383;
	text-decoration: none;
}

.aaction:hover {
	text-decoration: underline;
}

.another {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #B8CCDB;
}