<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<!-- 
		Rolling appender with a time-based rolling policy, log4j 1.3-style
		All files called orion.log.yyyy-MM-dd
	-->
	<appender name="FILE" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="${catalina.home}/logs/orion.%d{yyyy-MM-dd}.log" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
		<param name="Threshold" value="INFO" />
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
		<param name="Threshold" value="INFO" />
	</appender>

	<root>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>