.field_name {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-align: right;
	background-image: url("newStyle/images/darkgraybg.gif");
	background-position: center;
}

.field_value {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-align: left;
}

.buton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
}

.err_field {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bolder;
	background-color: #FF0000;
}

.odd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #CADDEB;
	height: 30px;
	vertical-align: middle;
}

.even {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #D3E0EB;
	height: 30px;
	vertical-align: middle;
}

.bold_link {
	text-decoration: none;
	color: #004BA8;
	font-weight: bold;
}

.bold_link:hover {
	text-decoration: underline;
}

.normal_link {
	text-decoration: none;
	color: #004BA8;
}

.normal_link:hover {
	text-decoration: underline;
}

.table_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #099dce;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
}

.header_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
}

.menu_group {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #000000;
	background-image: url("newStyle/images/darkgraybg.gif");
	background-position: center;
}

.entry {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #8DA3B1;
}

.aaction {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.aaction:hover {
	color: #000000;
	text-decoration: none;
}

.another {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #B8CCDB;
}

.trhover {
	
	font-size: 12px;
	background-color: #D5E5EB;
	height: 30px;
}

.contents {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-image: url("newStyle/images/graymidbottom.gif");
	background-position: center;
}

.font_home{
	font-size: 25px;
}

.content_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
	background-image: url("newStyle/images/darkgraybg.gif");
	background-position: center;
	height:40px;
	line-height:40px;
	padding-left:40px;
}

.contents_important_message {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #AAFFAA;	
	background-image: url("newStyle/images/darkgraybg.gif");
	background-position: center;
	font-weight: bolder;
}	

.contents_important_message_error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FF00AA;	
	background-image: url("newStyle/images/darkgraybg.gif");
	background-position: center;
	font-weight: bolder;
}	


.menu_back {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url("newStyle/images/darkgraybg.gif");
	background-position: center;
}

.titlu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #8B475D;
	background-color: #EECBAD;
}


.historylinkerror {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: 	#C11B17;
	text-decoration: none;
	font-weight: bolder;
}

.historylinksucces {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #437C17;
	text-decoration: none;
	font-weight: bolder;
}